/*------*/

#graficosDeTorta div {
    position: relative;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 4px 10px -10px black;
    -moz-box-shadow: 0 4px 10px -10px black;
    box-shadow: 0 4px 10px -10px black;
}


/*////////// RESPONSIVE ////////////*/

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 640px) {}