#preguntas div {
    font-weight: bold;
    font-size: 18px;
    margin: 60px 0 15px 0;
    position: relative;
}

#preguntas div:first-child {
    margin-top: 40px;
}

#preguntas div:first-child:before {
    display: none;
}

#preguntas input {
    margin-right: 10px;
}

#preguntas label {
    margin-right: 15px;
    font-size: 15px;
    line-height: 1.4;
    text-transform: none;
}

#agregarBoton {
    background-color: #1DB8C3;
    margin-bottom: 10px;
}

#agregarBoton:hover {
    background-color: #1a9ea8;
}


/*------*/

#graficosDeTorta div {
    position: relative;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 4px 10px -10px black;
    -moz-box-shadow: 0 4px 10px -10px black;
    box-shadow: 0 4px 10px -10px black;
}


/*////////// RESPONSIVE ////////////*/

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 640px) {}